body{
  background-color: #7D89E6;
}

h1 {
  font-size: 40px;
  text-align: center;
  color:black;
  font-family:'Nunito', sans-serif;
  background-color: grey;
  padding-bottom: 2px;
}

h2 {
    color:black;
    font-size: 32px;
    font-family:'Nunito', sans-serif;
    text-align: center;
    margin-top: 50px;
}

ul{
    text-align: center;
    padding: 10px;
}

li{
    color:black;
    font-family:'Nunito', sans-serif;
    font-size: 32px;
    padding: 5px;
}

div{
    font-family:'Nunito', sans-serif;
    text-align: center;
}

#summary{
    font-family:'Nunito';
    font-size: 18.72px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
}

#midipic{
    height: 500px;
    width: auto;
    border-radius: 120px;
}