body{
  background-color: #7D89E6;
}

h1 {
  font-size: 36px;
  text-align: center;
  color:black;
  font-family:'Nunito', sans-serif;
  background-color: grey;
  padding-bottom: 3px;
}

h2 {
    font-size: 24px;
    text-align: center;
    color:black;
    font-family:'Nunito', sans-serif;
  }

ul{
    text-align: center;
    padding: 10px;
}

li{
    color:black;
    font-family:'Nunito', sans-serif;
    font-size: 16px;
    padding: 5px;
}

div{
    font-family:'Nunito', sans-serif;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}